<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mechanic_Motors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Mechanic_Motors.Properties.Settings>
      <setting name="TemaOscuro" serializeAs="String">
        <value>True</value>
      </setting>
    </Mechanic_Motors.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="MechanicMotorsEntities" connectionString="metadata=res://*/Modelo.MechanicMotorsBD.csdl|res://*/Modelo.MechanicMotorsBD.ssdl|res://*/Modelo.MechanicMotorsBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mechanicmotors.database.windows.net;initial catalog=MechanicMotors;persist security info=True;user id=administrador;password=admin123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MechanicMotorsEntity" connectionString="metadata=res://*/Modelo.MechanicMotorsBD.csdl|res://*/Modelo.MechanicMotorsBD.ssdl|res://*/Modelo.MechanicMotorsBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mechanicmotors.database.windows.net;initial catalog=MechanicMotors;persist security info=True;user id=administrador;password=admin123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MechanicMotorsEntities1" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mechanicmotors.database.windows.net;initial catalog=MechanicMotors;persist security info=True;user id=administrador;password=admin123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MechanicMotorsEntities2" connectionString="metadata=&quot;res://*/Modelo.BaseDeDatos MM.csdl|res://*/Modelo.BaseDeDatos MM.ssdl|res://*/Modelo.BaseDeDatos MM.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=mechanicmotors.database.windows.net;initial catalog=MechanicMotors;persist security info=True;user id=administrador;password=admin123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>